.shop-list {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1160px;
  margin: 0 auto;
}

.shop-list > * {
  flex: 0 0 calc((100% - 90px) / 4); // 3 khoảng cách * 30px = 90px
  max-width: calc((100% - 90px) / 4);
  box-sizing: border-box;
}
.pagination {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  margin-top: 20px;
  padding-right: 8vw; // hoặc 16px, tùy bạn
  button {
    border: 1px solid #ccc;
    background: white;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &.active {
      background: black;
      color: white;
      border-color: black;
    }

    &:hover:not(.active) {
      background: #eee;
    }
  }
}

.line {
  height: 1px;
  width: 85%;
  background-color: #ccc;
  margin: 0 auto 30px auto;
  max-width: 1400px;
}

.dots {
  padding: 6px 8px;
  color: #999;
}

.empty-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  text-align: center;

  img {
    width: 180px;
    height: auto;
    margin-bottom: 30px;
  }
}