.shop-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
  padding: 20px 100px;
}

.pagination {
  margin-top: 20px;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end; /* căn sang trái */
  margin-right: 150px ;
  margin-bottom: 80px;
  button {
    border: 1px solid #ccc;
    background: white;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &.active {
      background: black;
      color: white;
      border-color: black;
    }

    &:hover:not(.active) {
      background: #eee;
    }
  }
}

.line {
  height: 1px;
  width: 80%;
  background-color: #ccc; 
  margin: 0 auto 30px auto; 
}