.login-form {
  max-width: 400px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  top: 50%;
  left: 50%;
  margin-bottom: 10px;

  .ant-form-item-label > label {
    color: white;
    font-size: 16px;
    font-weight: bold;
  }

  .ant-input,
  .ant-input-password {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    padding: 10px 0;
    font-size: 16px;
    padding-left: 6px;

    &::placeholder {
      color: rgba(255, 255, 255, 0.7);
    }

    &:focus {
      box-shadow: none;
      border-color: white;
    }
  }

  .ant-input-password-icon {
    color: white;
  }

  .login-btn {
    background-color: #000000;
    border-color: #000000;
    height: 45px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      &:hover {
        background-color: #272626 !important;
      }
    }
  }

  .google-login-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    min-height: 60px; /* Đảm bảo không bị thấp */
  }
  input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: light-dark(rgb(27, 87, 192), rgba(247, 247, 247, 0.4)) !important;
    color: fieldtext !important;
  }
  .signup-link {
    margin-top: 10px;
    text-align: center;
    color: white;
    font-size: 14px;

    a {
      color: #ff4081;
      font-weight: bold;
    }
  }
  .forgot-link {
    text-align: center;
    color: white;
    font-size: 14px;

    a {
      color: #ff4081;
      font-weight: bold;
    }
  }

  .or-divider {
    text-align: center;
    margin: 15px 0; // Slightly increased margin
    color: white; // Changed color to white for better visibility
    font-size: 14px; // Added font size
  }
  .ant-input-suffix {
    font-size: 16px;
    .anticon svg {
      color: white;
    }
  }

  .ant-form-item-has-error .ant-input,
  .ant-form-item-has-error .ant-input-password {
    background-color: #7c7b7b !important;
    box-shadow: none !important;
    color: #000 !important;
  }

  // Đảm bảo không bị chồng lớp
  .ant-input-password {
    display: flex;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
  }

  // Optional: điều chỉnh placeholder
  .ant-input::placeholder {
    color: #e0e0e0 !important;
  }

  // Giữ text lỗi màu đỏ
  .ant-form-item-explain-error {
    color: #f44336 !important;
    font-size: 13px;
  }
}
