@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.navigation {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;

  .pictureOutline {
    width: 100%;
    height: 280px;
    left: 0;
    top: 0;
    object-fit: cover;
  }

  .container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .shopTitle {
      color: #000;
      font-family: "Poppins", sans-serif;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .breadcrumbBar {
      margin-top: 8px;

      .ant-breadcrumb {
        color: #000;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }
}
